<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>CCAD3329-39ED-4B96-94E2-3145C8D179E3</string>
	<key>title</key>
	<string>Stellar</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
